{% set title = "Главная страница" %} {% extends "layout.html" %} {% block content %}

<div id="fullpage">
    <div class="section fp-auto-height-responsive">
        <div class="about-company">
            <div class="header">
                <img src="img/logo/logo-dark.svg" alt="Лого" class="header__logo" />
                <div class="header__main-nav-wrapper js-burger-wrapper">
                    <nav class="main-nav">
                        <a href="#" class="header__main-nav-close js-burger-close">
                            <svg width="35" height="35" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#cross" />
                            </svg>
                        </a>
                        <ul class="main-nav__list">
                            <li class="main-nav__list-item active">
                                <a href="index.html" class="main-nav__link">Главная</a>
                            </li>
                            <li class="main-nav__list-item">
                                <a href="news.html" class="main-nav__link">Пресс-центр</a>
                            </li>
                            <li class="main-nav__list-item">
                                <a href="about-company.html" class="main-nav__link">О Компании</a>
                            </li>
                            <li class="main-nav__list-item">
                                <a href="#" class="main-nav__link">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <a href="#" class="header__burger-btn js-burger-open">
                    <span></span>
                    <span></span>
                </a>
                <a href="#" class="header__watch-more js-watch-more">
                    Смотреть дальше
                </a>
            </div>
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="index.html" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item active">
                    <a href="about-company.html" class="breadcrumbs__link">О Компании</a>
                </li>
            </ul>
            <h2 class="about-company__heading">
                О Компании
            </h2>
            <div class="about-company__content">
                <p>
                    ГУП «Татинвестгражданпроект» – правопреемник института «Татаргражданпроект» («Татпроект»), который был основан в 1934 году. В ноябре текущего года предприятие отмечает 85-летие производственной деятельности. Генеральный директор
                    предприятия – Адель Альбертович Хуснутдинов.
                </p>
                <p>
                    Институтом спроектированы генеральные планы, сформированы правила землепользования и застройки более чем 1000 объектов, которые находятся не только на территории Республики Татарстан, но и в других регионах России.
                </p>
                <img src="img/hq.jpg" alt="" />
                <p>
                    «Татинвестгражданпроект» внес огромный вклад в проведение финала VII Национального чемпионата «Молодые профессионалы» (WorldSkills Россия). Институт выступил в роли автора проекта Международного выставочного центра «Казань Экспо»,
                    на территории которого в этом году проходили соревнования по профмастерству.
                </p>
                <p>
                    Предприятие является генеральной проектной организацией по реконструкции и реставрации объектов Всемирного наследия «Юнеско». На благотворительной основе выполнен ряд проектов по воссозданию памятников культурного наследия
                    Республики Татарстан в городе Болгар, острове-граде Свияжск, часовни Свято-Пантелеймонова монастыря на острове Афон в Греции. Кроме того, «Татинвестгражданпроект» является генеральной проектной организацией по реконструкции и
                    реставрации Казанского Кремля - комплекса архитектурных, исторических и археологических памятников, раскрывающих многовековую историю города. «Татинвестгражданпроект» вошел в рейтинг лучших проектных, изыскательских организаций
                    строительного комплекса по итогам 2018 года и награжден дипломом - «Лидер строительного комплекса России». Кроме того, институт назван «Элитой строительного комплекса России», а генеральный директор ГУП «Татинвестгражданпроект»
                    Адель Альбертович Хуснутдинов награжден дипломом «Лучший руководитель проектной (проектно-изыскательской) организации России».
                </p>
            </div>
            <div class="footer footer--dark">
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="vacancy.html" class="footer__link">Вакансии</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="#" class="footer__link">Руководитель</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="#" class="footer__link">Реквизиты</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="#" class="footer__link">Контактная информация</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
