{% set title = "Главная страница" %} {% extends "layout.html" %} {% block content %}

<div id="fullpage">
    <div class="section fp-auto-height-responsive">
        <div class="about-company">
            {% include "partials/header.html" %}
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="index.html" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item active">
                    <a href="engineering.html" class="breadcrumbs__link">Инженерные изыскания</a>
                </li>
            </ul>
            <h2 class="about-company__heading">
                Инженерные изыскания
            </h2>
            <div class="about-company__content">
                <p>
                    Инженерные изыскания — изучение природных условий и факторов техногенного воздействия в целях рационального и безопасного использования территорий и земельных участков, подготовки данных по обоснованию материалов, необходимых для
                    территориального планирования, планировки территории и архитектурно-строительного проектирования.
                </p>
                <img src="img/engineering.jpg" alt="" />
                <p>
                    Выполняется полный комплекс инженерно-геологических изыскания для нового строительства, реконструкции, капитального ремонта зданий и сооружений и подготовки документации по планировке территории:
                </p>
                <ul>
                    <li>
                        топографическая съемка масштабов 1:500-1:2000
                    </li>
                    <li>
                        составление планов подземных коммуникаций
                    </li>
                    <li>
                        вынос в натуру осей зданий и сооружений, земельных участков
                    </li>
                    <li>
                        мониторинг за деформациями и осадками зданий и сооружений.
                    </li>
                </ul>
                <h4>
                    Виды инженерно-геологических работ и комплексных исследований:
                </h4>
                <ul>
                    <li>
                        бурение скважин и проходка горных выработок (шурфов и пр.);
                    </li>
                    <li>
                        геофизические исследования(сейсморазведка, электроразведка, магниторазведка, геофизическое исследование скважин);
                    </li>
                    <li>
                        полевые исследования грунтов (статическое зондирование, испытание грунтов при помощи штампа и другими методами для определения состояния грунтового основания);
                    </li>
                    <li>
                        лабораторные исследования грунтов, подземных и поверхностных вод;
                    </li>
                    <li>
                        изучение грунтов оснований и обследование фундаментов существующих зданий и сооружений;
                    </li>
                </ul>
                <h4>
                    Инженерно-гидрометеорологические изыскания:
                </h4>
                <ul>
                    <li>
                        Оценка гидрологического и метеорологического состояния района изысканий;
                    </li>
                </ul>
                <h4>
                    Основные виды экологических изысканий:
                </h4>
                <ul>
                    <li>
                        Санитарно-химическое, а также микробиологическое изучение почв, подземных и поверхностных вод, а также атмосферного воздуха на участках строительства. При этом анализу подвергается наличие и процентное содержание
                        нефтепродуктов, тяжелых металлов и т.д.;
                    </li>
                    <li>
                        Определение и анализ радиационной обстановки на участках строительства и на объектах реконструкции, а также исследование объектов на предмет радиации (для этого проводятся радиологические исследования: гамма-спектрометрия,
                        гамма-съемка, изучается плотность потока радона и т. д.);
                    </li>
                    <li>
                        Проведение газогеохимических исследований;
                    </li>
                    <li>
                        Выполнение эколого-гидрогеологических исследований (экологические исследования);
                    </li>
                    <li>
                        Изучение и оценка воздействия различных физических показателей: для этого измеряется уровень производимого шума, вибрации, а также напряженности магнитного поля.
                    </li>
                </ul>
            </div>
            <div class="footer footer--dark">
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="vacancy.html" class="footer__link">Вакансии</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="#" class="footer__link">Руководитель</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="#" class="footer__link">Реквизиты</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="contacts.html" class="footer__link">Контактная информация</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
