.about-company {
    @include fullpageSection();
    padding-right: $left-padding;
    padding-top: 4rem;
    @include breakpoint(mobile) {
        padding: 0;
    }
}

.about-company__heading {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: black;
    font-weight: 400;
    @include breakpoint(mobile) {
        font-size: 1.8rem;
        font-weight: 600;
        
    }
    &::after {
        content: '';
        width: 11.5rem;
        height: 3px;
        background-color: $primary-color;
        display: block;
        margin-top: 1rem;
        @include breakpoint(mobile) {
            // margin: 0 auto;
            margin-top: 0.3rem;
            width: 8.8rem;
        }
    }
}



.about-company__content {
    margin-top: 3rem;
    max-width: 90rem;
    padding-bottom: 7rem;
    font-size: 1.6rem;
    line-height: 1.4;
    @include breakpoint(mobile) {
        padding-bottom: 0;
    }

    & > * + * {
        margin-top: 2rem;
    }
    
    a {
        &:link,
        &:visited {
            color: $primary-color;
        }

        .no-touch &:hover,
        .touch &:active {
            text-decoration: underline;
        }
    }

    & > h1,
    & > h2,
    & > h3 {
        font-size: 2.2rem;
    }


    & > h4,
    & > h5,
    & > h5 {
        font-size: 1.8rem;
    }


    ul {
        li {
            padding-left: 2rem;
            position: relative;
            margin-bottom: 1rem;
            &:last-child {
                margin-bottom: 0;
            }
            &::before {
                content: '';
                width: 6px;
                height: 6px;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: .5em;
                background-color: $primary-color;
            }

            & > ul {
                margin-top: 1rem;
                
            }
        }

        
    }

    img {
        display: block;
        max-width: 50%;
        @include breakpoint(mobile) {
            max-width: 100%;
        }
    }
}
