@font-face {
    font-family: 'SF UI Display';
    src: url('../misc/fonts/subset-SFUIDisplay-Semibold.woff2') format('woff2'),
        url('../misc/fonts/subset-SFUIDisplay-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../misc/fonts/subset-ProximaNova-Regular.woff2') format('woff2'),
        url('../misc/fonts/subset-ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../misc/fonts/subset-SFUIDisplay-Regular.woff2') format('woff2'),
        url('../misc/fonts/subset-SFUIDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../misc/fonts/subset-SFUIDisplay-Medium.woff2') format('woff2'),
        url('../misc/fonts/subset-SFUIDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../misc/fonts/subset-SFUIDisplay-Bold.woff2') format('woff2'),
        url('../misc/fonts/subset-SFUIDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


// @font-face {
//     font-family: 'Bankir Retro';
//     src: url('../misc/fonts/subset-Bankir-Retro.woff2') format('woff2'),
//         url('../misc/fonts/subset-Bankir-Retro.woff') format('woff');
//     font-weight: 500;
//     font-style: normal;
// }

