.filled-btn {
    font-size: 1.3rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.6rem;
    user-select: none;
    color: white;
    background-color: $darkest;
    padding: 2.1rem 3rem;
    border: 1px solid $darkest;
    transition: all .2s;
    display: inline-block;
    margin-top: 6rem;
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .touch &:active {
        background-color: transparent;
        color: $dark;
        border-color: $dark;
    }
}


.btn-not-filled {
    color: rgba(white, 0.7);
    font-size: 1.3rem;
    line-height: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.13em;
    display: inline-block;
    padding: .8rem 2rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: border-color .2s, color .2s;
    &:link,
    &:visited {
        color: rgba(white, 0.7);
    }

    .no-touch &:hover,
    .touch &:active {
        color: white;
        border-color: white;
    }
}



.btn-not-filled-dark {
    color: rgba(black, 0.7);
    font-size: 1.3rem;
    line-height: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.13em;
    display: inline-block;
    padding: .8rem 2rem;
    border: 1px solid rgba(black, .15);
    transition: border-color .2s, color .2s;
    &:link,
    &:visited {
        color: rgba(black, 0.7);
    }

    .no-touch &:hover,
    .touch &:active {
        color: #1F1D21;
        border-color: #1F1D21;
    }
}