// Colors

$primary-color: #FB7953;
$darkest: #141215;
$dark-blue: #182949;
$dark: #1F1D21;
$medium: #BCBCBD;


// Fonts

$sf: 'SF UI Display', sans-serif;
$proxima: 'Proxima Nova', sans-serif;
$playfair: 'Playfair Display', serif;


// Sizes

$top-margin: 6rem;
$left-padding: 12rem;


$left-padding-mobile: 6rem;